.header-wrapper{
    position: relative;
    left: 0px;
    right: 0px;
    height: 150px;
}

.top-navigation-wrapper{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #eeeeee;
    color: #041a39;
    position: relative;
}

.top-navigation-left-text{
    font-size: 12px;
    letter-spacing: 1px;
    float: left;
    padding: 14px 0px 13px;
    line-height: 18px;
}

.logo-container{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 200px;
    float: left;

}

.navigation-wrapper{
    margin-top: 42px;
    margin-left: 15px;
    margin-right: 15px;
    float: right;
}

.main-menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-menu li{
    float: left;
    display: list-item;
    unicode-bidi: isolate;
    margin-right: 10px;
}